.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}
.form-control {
    border-radius: 8px; 
    margin-right: 10px; 
  }
  .dropdown-welcome {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #3b3b4f, #1f1f28, #616f78);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), inset 0 -2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  

  

  