<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Pᴀɪʀɴɪx</a>
    <!-- Show links if user is logged in -->
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="accountService.currentUser()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
      </ng-container>
      <li class="nav-item">
        <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
      </li>
    </ul>
    
    

    <!-- Dropdown for logged-in user -->
    <div class="dropdown" *ngIf="accountService.currentUser()" dropdown>
      <a class="dropdown-toggle text-light dropdown-welcome" dropdownToggle>
        Welcome {{ accountService.currentUser()?.username | titlecase}}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    <!-- Login form for guest users -->
    <form *ngIf="!accountService.currentUser()" #loginForm="ngForm" class="mt-2 mt-md-0" (ngSubmit)="login()"
      autocomplete="off">
      <div class="input-group">
        <input name="username" [(ngModel)]="model.username" class="form-control rounded-3 mr-2" type="text"
          placeholder="Username" />
        <input name="password" [(ngModel)]="model.password" class="form-control rounded-3" type="password"
          placeholder="Password" />
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="submit">Login</button>
        </div>
      </div>
    </form>


  </div>
</nav>