<div class="text-center mt-3">
    <h2>{{getTitle()}}</h2>
</div>

<div class="container mt-3">
    <div class="d-flex">
        <div class="btn-group">
            <div class="btn-group"><button btnRadio="liked" [(ngModel)]="predicate" style="margin-right: 20px;" (click)="loadLikes()" class="btn btn-primary">Members I like</button></div>
            <div class="btn-group"><button btnRadio="likedBy" [(ngModel)]="predicate" style="margin-right: 20px;" (click)="loadLikes()" class="btn btn-primary">Members who like me</button></div>
            <div class="btn-group"><button btnRadio="mutual" [(ngModel)]="predicate" (click)="loadLikes()" class="btn btn-primary">Mutual</button></div>
        </div>
    </div>

    <div class="row mt-3">
        @for (member of likeService.paginatedResult()?.items; track member.id) {
            <div class="col-2">
                <app-member-card [member]="member" ></app-member-card>
            </div>
        }
    </div>
</div>

@if (likeService.paginatedResult()?.pagination) {

    <div class="d-flex justify-content-center">
    
        <pagination 
            [boundaryLinks]="true" 
            [totalItems]="likeService.paginatedResult()?.pagination!.totalItems"
            [itemsPerPage]="likeService.paginatedResult()?.pagination!.itemsPerPage"
            (pageChanged)="pageChanged($event)"
            [(ngModel)]="likeService.paginatedResult()?.pagination!.currentPage"
            [maxSize]="10"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
    </div>
    }